<widget id="io.cordova.WalletWise" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WalletWise</name>
    <description>app finanza</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        THE Team
    </author>
    <content src="index.html" />
    <platform name="android">
        <icon src="www/img/logo_app.jpg" />
    </platform>
</widget>
