<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Balance Semanal</title>
    <link rel="stylesheet" href="./css/balance.css">
</head>
<body>
    <div class="container">
        <button class="back-button">Volver</button>
        <h1>Vista Balance Semanal</h1>
        
        <!-- Gráfico -->
        <svg id="chart" width="500" height="300"></svg>

        <!-- Tabla -->
        <table>
            <thead>
                <tr>
                    <th>Icono</th>
                    <th>Categoría</th>
                    <th>Dinero Gastado</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Aquí se llenarán los datos -->
            </tbody>
        </table>
    </div>
    
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="../backend/CONTROLLERS/balance.js"></script>
</body>
</html>
