<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/perfil.css">
    <title>Perfil Financiero</title>
</head>
<body>
    <div class="container">
        <button class="back-button">← Volver</button>
        <div class="profile-section">
            <img id="profilePicture" src="" alt="Foto de perfil" class="profile-picture">
            <div class="info">
                <p><strong>Nombre:</strong> <span id="nombreUsuario">Cargando...</span></p>
            </div>
        </div>
        <div class="upload-section">
            <label for="profileImage">Subir nueva foto de perfil</label>
            <input type="file" id="profileImage" accept="image/*">
        </div>

        <div class="salary-section">
            <label for="salary">Salario</label>
            <p id="salaryDisplay">Cargando...</p> 
        </div>

        <div class="logout-section">
            <button id="logoutButton" class="logout-button">Cerrar Sesión</button>
        </div>
    </div>
    <script src="../backend/CONTROLLERS/perfil.js"></script>

</body>


</html>
