<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
    <link rel="stylesheet" href="./css/recomendaciones.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <a href="#" class="back-button" onclick="goBack()">← Volver</a>
        <h1>Recomendaciones</h1>
    </header>

    <section class="content">

        <div class="chart-section">
            <canvas id="myPieChart" width="400" height="400"></canvas>
        </div>


        <div class="legend-section">
            <h2>Porcentajes de los Gastos</h2>
            <div class="legend"></div>
        </div>


        <div class="recommendacion-section">
            <h2>Recomendación</h2>
            <p id="recommendacion-text">Nuestra recomendación es:</p>
        </div>
    </section>


    <footer>
        <button onclick="goToDetails()">Ver más detalles</button>
    </footer>

    <script src="../backend/CONTROLLERS/recomendacionscript.js"></script>
</body>
</html>
