* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1D4273 10%, #1D4273 20%, #121D53 70%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;  /* Aumentamos el ancho del contenedor */
    background-color: #1c3e7b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.back-button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.upload-section {
    text-align: center; /* Centra el contenido dentro de la sección */
    margin-bottom: 20px; /* Añade espacio debajo del botón */
}

.upload-section label {
    display: inline-block;
    background-color: #f8b400;
    color: #1c3e7b;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.upload-section label:hover {
    background-color: #ffa500;
}

.upload-section input[type="file"] {
    display: none; /* Oculta el input real */
}


.info {
    font-size: 16px;
}

.salary-section {
    text-align: center;
    margin-bottom: 20px;
}

.salary-section label {
    font-size: 18px;
    font-weight: bold;
}

.salary-section p {
    margin-top: 10px;
    font-size: 16px;
    color: #e0e0e0;
}

.expenses-section {
    text-align: center;
}

.expenses-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.logout-section {
    text-align: center;
    margin-top: 20px;
}

.logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b;
}

